button:hover{
    cursor: pointer;
}
.header{
    height: 50px;
    text-align: center;
}
button{
    height: 50px;
    width: 100px;
}
li{
    float: left;
    background-color:aqua;
    height:50px;
    width: 150px;
    border-radius: 10px;
    
}
li:hover{
    cursor: pointer;
    background-color: yellow;
}
input{
    height: 44px;
}
.Container {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300px;
    width:800px;
    margin:30px auto;
    min-height: 60px;
    border-top:0px;
}
.text{
    background: gainsboro;
}
.text1{
    background: darkgray;
}